p{
    font-family: sans-serif;
    font-size: small;
    
}
.city{
  display: inline;
  padding: 8px;


}
img{
  padding: 16px;
  size: 110;
}
.fa-linkedin {
  background: #3B5998;
  color: white;
  padding: 16px;



}
.fa-instagram {
  background: #125688;
  color: white;
  padding: 16px;

}
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 16px;

}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 200px;
}
.container-fluid2 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 650px;
}
.container-fluid3 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 600px;
}
.container-fluid4 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 600px;
}
.container-fluid5 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 400px;
}
.container-fluid6 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 900px;
}

body{
  background-color: darksalmon;
}
h2.headertekst {
  text-align: center;
}
h2{
    font-family: sans-serif;
    font-size: large;
}
a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.has-dropcap:first-letter {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: large;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
  }
  
  .dropcap {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    background: #303030;
    color: #FDF9F2;
    float: left;
    font-size: 6rem;
    line-height: 1;
    margin: 0.1em 0.1em 0.2em 0;
    padding: 0.1em;
  }
  .dropcap:before,
  .dropcap:after {
    content: "";
    display: block;
  }
  .dropcap:before {
    margin-top: -0.2em;
  }
  .dropcap:after {
    margin-bottom: -0.15em;
  }

  
.basic-grey {
	margin-left:auto;
	margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
	padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
	line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
	background: #E27575;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}
  