    <!DOCTYPE html>
<html>
<body>
    <head>
        <link rel="stylesheet" type="text/css" href="static/homework.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">      
        <nav>
          <ul>
            
            <li class="city"><a href="/">About Me</a></li>
            <li class="city"><a href="myClasses">My Classes</a></li>
            <li class="city"><a href="movie">My Favorite Movies</a></li>
            <li class="city"><a href="book">My Favorite Books</a></li>
            <li class="city"><a href="myFriend">My Friend</a></li>
            <li class="city"><a href="contactMe">Contact ME</a></li>
            <li class="city"><a href="weather">Weather Api</a></li>

            
          </ul>
        </nav>


        </head>
<div class="container-fluid bg-1 text-center">
<h2 class="headertekst" style="font-size:35px">About me </h2>
<p class="has-dropcap" style="font-size: 20px;">Yusuf Islam Tufekci</p>
<p class="has-dropcap" style="font-size: 20px;">My name is Yusuf. Im 23 years old computer engineering student. This is my last year. After this year i will graduate.</p>
<img src="/static/4B631AE3-CFB1-4C37-A3E9-D7F1EB51169C.jpeg"  width="400"
         height="120">
         <img src="/static/77C80D35-6883-4EF4-B26B-8E0D306E0BEC.jpeg"  width="400"
         height="120">

        </div>
          <a href="https://www.linkedin.com/in/yusuf-tüfekçi-6a31b9195/" class="fa fa-linkedin"></a>
          <a href="https://www.instagram.com/yusuftfkcii/" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/yusuf.tufekci.92" class="fa fa-facebook"></a>

      



    
</body>
</html>

