        <link rel="stylesheet" type="text/css" href="static/homework.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>       




<div class="myNav" >
    <nav>
    <ul>
      
            <li class="city"><a href="/">About Me</a></li>
            <li class="city"><a href="myClasses">My Classes</a></li>
            <li class="city"><a href="movie">My Favorite Movies</a></li>
            <li class="city"><a href="book">My Favorite Books</a></li>
            <li class="city"><a href="myFriend">My Friend</a></li>
            <li class="city"><a href="contactMe">Contact ME</a></li>
            <li class="city"><a href="weather">Weather Api</a></li>

        
      </ul>
    </nav>
    <link rel="stylesheet" type="text/css" href="homework.css">
</div>
<div class="container-fluid3 bg-1 text-center">

<h2 class="has-dropcap">My favorite books</h2>


<Ol>
    <li>Bilincalti by Freud</li>
    <li>Sofie'nin Dunyasi by Jostein Gaarder</li>
</Ol>  
</div>