        <link rel="stylesheet" type="text/css" href="static/homework.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>       



<div class="myNav" >
    <nav>
    <ul>
      
            <li class="city"><a href="/">About Me</a></li>
            <li class="city"><a href="myClasses">My Classes</a></li>
            <li class="city"><a href="movie">My Favorite Movies</a></li>
            <li class="city"><a href="book">My Favorite Books</a></li>
            <li class="city"><a href="myFriend">My Friend</a></li>
            <li class="city"><a href="contactMe">Contact ME</a></li>
            <li class="city"><a href="weather">Weather Api</a></li>

        
      </ul>
    </nav>
    <link rel="stylesheet" type="text/css" href="homework.css">
</div>
<div class="container-fluid4 bg-1 text-center">

<h2 class="has-dropcap">My favorite movies</h2>

<ol reversed >
    <li>Se7en</li>
    <ul>
      <li>Director: David Fincher</li>
      <li>Writer: Andrew Kevin Walker</li>
      <li>Stars: Morgan Freeman, Brad Pitt, Kevin Spacey</li>
    </ul>
    <li>American History X</li>
    <ul>
      <li>Director: Tony Kaye</li>
      <li>Writer: David McKenna</li>
      <li>Stars: Edward Norton, Edward Furlong, Beverly D'Angelo</li>
    </ul>
      
    <li>Fight Club</li>
    <ul>
        <li>Director: David Fincher</li>
        <li>Writers: Chuck Palahniuk (novel), Jim Uhls (screenplay)</li>
        <li>Brad Pitt, Edward Norton, Meat Loaf |</li>
      </ul>
</ol>  
<a href="https://www.imdb.com">For the find movies.</a>
    <a href="https://720pizle.org">For the watch movies</a>

    </div>